footer{
  background-color: #181818;
  color: white; 
}

.footer-header i{
  font-size: 3rem;
  color: red;
  cursor:  inherit;
}

.footer-header h5{
 font-size: 2rem;
}

.footer-bottom{
  background-color: #1f1f1f;
  height: 50px;
  text-align: center;
}

footer ul li a{
  display: block; /*de type inline : pour le travailler*/
  color: white;
  font-size: 1.2rem;
  padding:5px 0;
}

.menu-lists-item h5{
  font-size: 1.5rem;
}

.social-icon ul{
  height: 44px;
}
.social-icon ul li i{
  font-size: 1.5rem;
  background:#343a40;
  padding: 10px;
  border-radius: 50px;
}

.footer-social-icon{
  margin: 20px 0;
}

@media screen and (max-width:1200px) {
  .menu-lists-item h5{
    font-size: 1.2rem;
  }
  .menu-list ul li a{
    font-size: 1rem;
  }
}
@media screen and (max-width:953px) {
  .footer-menu-lists,.footer-social-icon{
    flex-direction: column;
  }
  .menu-lists-item{
    width: 90%;
    text-align: center;
  }
  .social-icon ul{
    justify-content: center;
  }
  .app-icon {
    text-align: center;
  }
}


